/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2017, 6:48:01 PM
    Author     : 00139155
*/
#cabecera{
    /*Aplicando tipo, aliniacion y tamaño de letras a la cabecera*/
    font-family: forte;
    font-size: 50px;
    text-align: center;
}

ul li {
    /*Aplicando tamaños,quitandole las rayas y adornando mis li y ul*/
    list-style-type: none;
    background: #0080FF;
    display: inline;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
#menu{/*centralizando mi menu*/
    text-align: center;
}
#cuerpo{/*centralisando, poniendo el tipo de letra y tamaño de mis letras*/
    text-align: center;
    font-family: aharoni;
    font-size: 15px;
}
#pie{/*poniendole color a mis pie de linea*/
    background: #0080FF;
    text-align: center;

}
a:hober{
    color: white;
    font-size: 28px;
}
a{
    text-decoration: none;
}
form{
    /*centrando el formulario y poniendo borde*/
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #000 ;
    border-radius: 1em;
    background: white

}
form div{
    margin-top: 2em;

}
/*A continuacion damos valores a las pseudoclases para indicar el 
color del vinculo activo y visitado*/
a:link{
    color: white;
}
a:visited{
    color:  black;
}
a:active{
    color:red; 
}
/*poniendoles tamaño a mis etiquetas*/
label{
    display: inline-block;
    width: 100px;
    text-align: right;
}
input, textArea{/*Aplicando el tipo y tamaño de letras*/
    font: 1em Aral;
    width:  300px;

}
input:focus, textArea:focus{
/*aplicando el color de vorde,modificando las etiquetas y
centralisando mi texto*/
    border-color: red;
}
textArea{
    vertical-align: top;
}
h1{
    text-align: center;
}
#fondo{/*poniendo el color a mi lista de contactos y el color del menu */
    background: #0080FF;
    color: yellowgreen
}
